@font-face {
  font-family: "Roboto Light";
  font-weight: 100;
  src: url("../../fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: "Roboto Regular";
  font-weight: normal;
  src: url("../../fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto Bold";
  font-weight: 700;
  src: url("../../fonts/Roboto/Roboto-Bold.ttf");
}
