<h3 class="mt-5 col-12">Tus compras</h3>
<ng-container *ngIf="purchasesData; else purchasesLoader">
  <ng-container>
    <app-purchase-summary
      *ngFor="
        let purchase of purchasesData
          | slice : (page - 1) * pageSize : page * pageSize
      "
      [purchase]="purchase"
      [content]="content"
      (purchaseEmitter)="setSelectedPurchase($event)"
    ></app-purchase-summary>
  </ng-container>

  <!-- PAGINATION -->
  <ngb-pagination
    class="d-flex justify-content-center mt-4"
    [(page)]="page"
    [pageSize]="pageSize"
    [collectionSize]="purchasesData.length"
    [boundaryLinks]="true"
  ></ngb-pagination>
</ng-container>

<!-- MODAL -->
<ng-template #content let-modal>
  <div class="modal-header flex-column">
    <div class="w-100 d-flex d-md-grid justify-content-end">
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.close()"
      ></button>
    </div>
  </div>
  <div class="modal-body">
    <app-purchase-modal-data
      [selectedPurchaseData]="selectedPurchaseData"
    ></app-purchase-modal-data>
  </div>
</ng-template>

<!-- Purchases Loader -->
<ng-template #purchasesLoader>
  <div class="d-flex mb-4">
    <div class="w-25">
      <ngx-skeleton-loader
        count="1"
        appearance="line"
        animation="progress"
        class="my-0 me-2"
        [theme]="{
          'background-color': '#fff15999',
          margin: 0,
          width: '100%',
          height: '100%',
          'border-radius': '10px'
        }"
      ></ngx-skeleton-loader>
    </div>
    <div class="w-75 ps-4">
      <ngx-skeleton-loader
        count="3"
        appearance="line"
        animation="progress"
        class="my-0 me-2"
        [theme]="{
          'background-color': '#fff15999',
          margin: 0,
          width: '100%',
          height: '10px'
        }"
      ></ngx-skeleton-loader>
    </div>
  </div>
  <div class="d-flex">
    <div class="w-25">
      <ngx-skeleton-loader
        count="1"
        appearance="line"
        animation="progress"
        class="my-0 me-2"
        [theme]="{
          'background-color': '#fff15999',
          margin: 0,
          width: '100%',
          height: '100%',
          'border-radius': '10px'
        }"
      ></ngx-skeleton-loader>
    </div>
    <div class="w-75 ps-4">
      <ngx-skeleton-loader
        count="3"
        appearance="line"
        animation="progress"
        class="my-0 me-2"
        [theme]="{
          'background-color': '#fff15999',
          margin: 0,
          width: '100%',
          height: '10px'
        }"
      ></ngx-skeleton-loader>
    </div>
  </div>
</ng-template>
